@model FeedbackAPI.Data.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Action Site no. @Model.SiteId</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SiteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SiteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequesterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequesterId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Action)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Action)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Domain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Domain)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            <pre>@Model.Data</pre>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
    @Html.Partial("_RequestedActionLinks", Model)
</p>
